<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="cassandraHostConfigurator"
          class="me.prettyprint.cassandra.service.CassandraHostConfigurator">
        <constructor-arg value="localhost:9160"/>
    </bean>
    <bean id="cluster" class="me.prettyprint.cassandra.service.ThriftCluster">
        <constructor-arg value="Test Cluster"/>
        <constructor-arg ref="cassandraHostConfigurator"/>
    </bean>
    <bean id="keyspace" class="me.prettyprint.hector.api.factory.HFactory"
          factory-method="createKeyspace">
        <constructor-arg value="Hospital"/>
        <constructor-arg ref="cluster"/>
    </bean>

    <bean id="abstractDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.AbstractDao" abstract="true">
        <property name="cluster" ref="cluster"/>
        <property name="keyspace" ref="keyspace"/>
    </bean>

    <bean id="simpleDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.SimpleDao" parent="abstractDao"
          abstract="true"/>

    <bean id="patientDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.PatientDao" parent="simpleDao">
        <property name="cFamilyName" value="Patients"/>
    </bean>

    <bean id="patientAttributeValueDao"
          class="ua.com.alus.medhosp.frontend.server.services.spring.dao.PatientAttributeValueDao"
          parent="simpleDao">
        <property name="cFamilyName" value="PatientView"/>
    </bean>

    <bean id="personService" class="ua.com.alus.medhosp.frontend.server.services.spring.PatientServiceImpl">
        <property name="patientDao" ref="patientDao"/>
        <property name="patientAttributeValueDao" ref="patientAttributeValueDao"/>
    </bean>
    <import resource="jms-config.xml"/>
</beans>