<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:property-placeholder location="deployment.properties"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/hospital"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
        <property name="maxPoolSize" value="50"/>
        <property name="initialPoolSize" value="5"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="MedHospUnit"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>
                <property name="generateDdl" value="true"/>
                <property name="showSql" value="true"/>
            </bean>
        </property>
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="jpaDao" class="ua.com.alus.medhosp.backend.domen.dao.JpaDAO" abstract="true">
    </bean>
    <bean id="patientDao" class="ua.com.alus.medhosp.backend.domen.dao.patient.PatientDao" parent="jpaDao"/>
    <bean id="patientAttributeValueDao" class="ua.com.alus.medhosp.backend.domen.dao.patient.PatientAttributeValueDao"
          parent="jpaDao"/>
    <bean id="patientAttributeDao" class="ua.com.alus.medhosp.backend.domen.dao.patient.PatientAttributeDao"
          parent="jpaDao"/>

    <bean id="patientService" class="ua.com.alus.medhosp.backend.service.PatientService">
        <property name="patientDao" ref="patientDao"/>
        <property name="patientAttributeValueDao" ref="patientAttributeValueDao"/>
        <property name="patientAttributeDao" ref="patientAttributeDao"/>
    </bean>

    <context:component-scan base-package="ua.com.alus"/>

    <import resource="axon-config.xml"/>
    <import resource="jms-config.xml"/>
    <import resource="spring-config-test.xml"/>
    <import resource="aspects-config.xml"/>
</beans>