<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <context:property-placeholder location="WEB-INF/deployment.properties"/>
    <bean id="cassandraHostConfigurator"
          class="me.prettyprint.cassandra.service.CassandraHostConfigurator">
        <constructor-arg value="${CASSANDRA_ADDRESS}"/>
    </bean>
    <bean id="cluster" class="me.prettyprint.cassandra.service.ThriftCluster">
        <constructor-arg value="${CASSANDRA_CLUSTER}"/>
        <constructor-arg ref="cassandraHostConfigurator"/>
    </bean>
    <bean id="keyspace" class="me.prettyprint.hector.api.factory.HFactory"
          factory-method="createKeyspace">
        <constructor-arg value="${CASSANDRA_KEYSPACE}"/>
        <constructor-arg ref="cluster"/>
    </bean>

    <bean id="abstractDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.AbstractDao" abstract="true">
        <property name="cluster" ref="cluster"/>
        <property name="keyspace" ref="keyspace"/>
    </bean>

    <bean id="simpleDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.SimpleDao" parent="abstractDao"
          abstract="true"/>

    <bean id="patientDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.PatientDao" parent="simpleDao">
        <property name="cFamilyName" value="Patients"/>
    </bean>

    <bean id="patientAttributeValueDao"
          class="ua.com.alus.medhosp.frontend.server.services.spring.dao.PatientAttributeValueDao"
          parent="simpleDao">
        <property name="cFamilyName" value="PatientAttributeValue"/>
    </bean>

    <bean id="patientAttributeDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.PatientAttributeDao"
          parent="simpleDao">
        <property name="cFamilyName" value="Attributes"/>
          </bean>

    <bean id="patientJmsProducerService"
          class="ua.com.alus.medhosp.frontend.server.services.spring.PatientJmsProducerService">
        <property name="jmsCommandProducer" ref="jmsClientProducer"/>
    </bean>

    <bean id="patientService" class="ua.com.alus.medhosp.frontend.server.services.spring.PatientServiceImpl">
        <property name="patientDao" ref="patientDao"/>
        <property name="patientAttributeValueDao" ref="patientAttributeValueDao"/>
        <property name="patientAttributeDao" ref="patientAttributeDao"/>
    </bean>

    <bean id="taskDao" class="ua.com.alus.medhosp.frontend.server.services.spring.dao.TaskDao" parent="simpleDao">
        <property name="cFamilyName" value="TasksView"/>
    </bean>

    <bean id="taskService" class="ua.com.alus.medhosp.frontend.server.services.spring.TaskService">
        <property name="taskDao" ref="taskDao"/>
    </bean>

    <import resource="jms-config.xml"/>
    <import resource="aspects-config.xml"/>
    <import resource="asegi-security.xml"/>
    <import resource="quartz-config.xml"/>
</beans>